{{ ansible_managed | comment }}

[Unit]
Description=cbhealthagent
Documentation=N/A
Requires=network.target
After=network.target

[Service]
Type=simple

User={{ cbhealthagent_user | default('couchbase') }}
Group={{ cbhealthagent_user_group | default('couchbase') }}
WorkingDirectory={{ cbhealthagent_conf_dir }}
EnvironmentFile=-{{ cbhealthagent_conf_dir }}/{{ cbhealthagent_env_file}}

ExecStart={{ cbhealthagent_install_dir }}/{{ cbhealthagent_binary }} \
  --http.port "$CBHEALTHAGENT_HTTP_PORT" \
  --log.level "$CBHEALTHAGENT_LOG_LEVEL" \
  --couchbase.install-path "$COUCHBASE_INSTALL_PATH" \
  --couchbase.username "$COUCHBASE_USER" \
  --couchbase.password "$COUCHBASE_PASSWORD" \
  {% if cbhealthagent_features_health_agent_enabled | default(true) %}
  --features.enable "health-agent" \
  {% else %}
  --features.disable "health-agent" \
  {% endif %}
  {% if cbhealthagent_features_log_analyzer_enabled | default(true) %}
  --features.enable "log-analyzer" \
  {% else %}
  --features.disable "log-analyzer" \
  {% endif %}
  {% if cbhealthagent_features_fluent_bit_enabled | default(false) %}
  --features.enable "fluent-bit" \
  {% else %}
  --features.disable "fluent-bit" \
  {% endif %}
  {% if cbhealthagent_features_prometheus_exporter_enabled | default(false) %}
  --features.enable "prometheus-exporter" \
  {% else %}
  --features.disable "prometheus-exporter" \
  {% endif %}
  --health-agent.check-interval "$CBHEALTHAGENT_CHECK_INTERVAL" \
  --log-analyzer.janitor-interval "$CBHEALTHAGENT_LOG_ANALYZER_JANITOR_INTERVAL" \
  --log-analyzer.alert-duration "$CBHEALTHAGENT_LOG_ANALYZER_ALERT_DURATION"

NoNewPrivileges=true
PrivateDevices=true
PrivateTmp=true
ProtectHome=true

SyslogIdentifier=cbhealthagent
Restart=always
RestartSec=1
StartLimitInterval=0

{% if cbhealthagent_systemd_version | int >= 232 %}
ProtectSystem=strict
ProtectControlGroups=true
ProtectKernelModules=true
ProtectKernelTunables=yes
{% else %}
ProtectSystem=full
{% endif %}

[Install]
WantedBy=multi-user.target
