# cbhealthagent
CBHEALTHAGENT_LOG_LEVEL={{ cbhealthagent_log_level }}
CBHEALTHAGENT_HTTP_PORT={{ cbhealthagent_http_port }}
CBHEALTHAGENT_CHECK_INTERVAL="{{ cbhealthagent_check_interval }}"
CBHEALTHAGENT_LOG_ANALYZER_JANITOR_INTERVAL="{{ cbhealthagent_log_analyzer_janitor_interval }}"
CBHEALTHAGENT_LOG_ANALYZER_ALERT_DURATION="{{ cbhealthagent_log_analyzer_alert_duration }}"

# couchbase user
COUCHBASE_USER="{{ couchbase_username }}"
COUCHBASE_PASSWORD="{{ couchbase_password }}"
COUCHBASE_INSTALL_PATH="{{ cbhealthagent_couchbase_install_path }}"
